<div *ngIf="loggedIn">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Svi predmeti">
      <mat-list>
        <h3 mat-subheader>Predmeti</h3>
        <mat-list-item *ngFor="let predmet of predmeti">
          <mat-icon mat-list-icon>
            assignment
          </mat-icon>
          <h4 mat-line>{{predmet.naziv}}</h4>
          <h5 mat-line>{{predmet.opis}}</h5>
          <span class="example-spacer"></span>
          <button mat-icon-button color="primary">
            <mat-icon *ngIf="role=='administrator'" (click)="openPredmet(predmet)" aria-label="Example icon-button with a heart icon">list</mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon" (click)="openDialog('view',predmet)">fingerprint</mat-icon>
          </button>
          <button *ngIf="role=='administrator'" mat-icon-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon" (click)="openDialog('edit',predmet)">edit</mat-icon>
          </button>
          <button *ngIf="role=='administrator'" mat-icon-button color="primary">
            <mat-icon (click)="deletePredmet(predmet)" aria-label="Example icon-button with a heart icon">delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
      <button *ngIf="role=='administrator'" mat-flat-button color="primary" (click)="openDialog('add')">Novi predmet</button>

      <br>
    </mat-tab>
    <mat-tab label="Predmeti koje pohadja/predaje" *ngIf="role!='administrator'">
      <mat-list>
      <h3 mat-subheader>Predmeti</h3>
      <mat-list-item *ngFor="let predmet of predmetiPohadja">
        <mat-icon mat-list-icon>
          assignment
        </mat-icon>
        <h4 mat-line>{{predmet.naziv}}</h4>
        <h5 mat-line>{{predmet.opis}}</h5>
        <span class="example-spacer"></span>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon" (click)="openDialog('view',predmet)">fingerprint</mat-icon>
        </button>
      </mat-list-item>
      </mat-list>
    </mat-tab>

  </mat-tab-group>
</div>
<div *ngIf="!loggedIn">
  Nesto nije u redu
</div>