.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }