<h1 mat-dialog-title>Student</h1>
<form #nastavnikForm="ngForm" (submit)="forumSubmit(nastavnikForm.value)">
    <div mat-dialog-content>
            <mat-form-field style="width:100%;">
                <input [readonly]="mode=='view'" matInput name="korisnickoIme" placeholder="Korisnicko ime" [ngModel]="student.korisnickoIme">
            </mat-form-field>
            <br>
            <mat-form-field style="width:100%;">
                <input [readonly]="mode=='view'" matInput name="ime" placeholder="Ime" [ngModel]="student.ime">
            </mat-form-field>
            <br>
            <mat-form-field style="width:100%;">
                <input [readonly]="mode=='view'" matInput name="prezime" placeholder="Prezime" [ngModel]="student.prezime">
            </mat-form-field>
            <br>
            <mat-form-field style="width:100%;">
                <input [readonly]="mode=='view'" matInput name="email" placeholder="Email" [ngModel]="student.email">
            </mat-form-field>
            <br>
            <mat-form-field *ngIf="mode=='edit' || mode=='add'" style="width:100%;">
                <input [readonly]="mode=='view'" matInput name="lozinka" placeholder="Lozinka" [ngModel]="student.lozinka">
            </mat-form-field>
            <br *ngIf="mode=='edit' || mode=='add'">
            <mat-form-field style="width:100%;">
                <input [readonly]="mode=='view'" matInput name="ulicaBroj" placeholder="Ulica i broj" [ngModel]="student.ulicaBroj">
            </mat-form-field>
            <br>
            <mat-form-field style="width:100%;">
                <input [readonly]="mode=='view'" matInput name="postanskiBroj" placeholder="Postanski broj" [ngModel]="student.postanskiBroj">
            </mat-form-field>
            <br>
            <mat-form-field style="width:100%;">
                <input [readonly]="mode=='view'" matInput name="mesto" placeholder="Mesto" [ngModel]="student.mesto">
            </mat-form-field>
            <br>
            <mat-form-field style="width:100%;">
                <input [readonly]="mode=='view'" matInput name="zvanje" placeholder="Zvanje" [ngModel]="student.zvanje">
            </mat-form-field>
            <br>
        <br>


    </div>
    <div mat-dialog-actions>


        <button type="submit" [disabled]="mode=='view' || !nastavnikForm.valid" color="primary" mat-flat-button>
            Potvrdi
        </button>
        <span style="flex: 1 1 auto;"></span>
        <button mat-button (click)="onNoClick()">Odustani</button>

    </div>
</form>