<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Studenti">

    <mat-list class="container">
      <h3 mat-subheader>Studenti</h3>
      <mat-list-item *ngFor="let student of studenti">
        <mat-icon mat-list-icon>
          account_circle
        </mat-icon>
        <h4 mat-line>{{student.brojIndeksa}}</h4>
        <p mat-line>{{student.ime}}  {{student.prezime}}</p>
        <span class="example-spacer"></span>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon" (click)="openStudDialog('view',student)">fingerprint</mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon" (click)="openStudDialog('edit',student)">edit</mat-icon>
        </button>
        <button (click)="deleteStudent(student)" mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <br>

    <button mat-flat-button color="primary" (click)="openStudDialog('add')">Novi student</button>    

  </mat-tab>
  <mat-tab label="Nastavnici">
    
    <mat-list class="container">
      <h3 mat-subheader>Nastavnici</h3>
      <mat-list-item *ngFor="let nastavnik of  nastavnici">
        <mat-icon mat-list-icon>
          account_circle
        </mat-icon>
        <h4 mat-line>{{nastavnik.zvanje}}</h4>
        <p mat-line>{{nastavnik.ime}}  {{nastavnik.prezime}}</p>
        <span class="example-spacer"></span>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon" (click)="openNastDialog('view',nastavnik)">fingerprint</mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon" (click)="openNastDialog('edit',nastavnik)">edit</mat-icon>
        </button>
        <button (click)="deleteNastavnik(nastavnik)" mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <br>

    <button mat-flat-button color="primary" (click)="openNastDialog('add')">Novi nastavnik</button>   
  </mat-tab>
  <mat-tab label="Svi korisnici">
  
      <mat-list class="container">
          <h3 mat-subheader>Svi korisnici</h3>
          <mat-list-item *ngFor="let student of  korisnici">
            <mat-icon mat-list-icon>
              account_circle
            </mat-icon>
            <h4 mat-line>{{student.ime}}  {{student.prezime}}</h4>
            <p mat-line>{{student.email}}  {{student.brojTelefona}}</p>
          </mat-list-item>
        </mat-list>
    
        <br>
  </mat-tab>

</mat-tab-group>

<br>